{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{# TODO manejar ROLES para impedir acceso #}

{# Verificar si el usuario tiene el rol ROLE_ADMIN #}
{# {% if is_granted('ROLE_ADMIN') %}
{% else %}
    <p>No tienes permiso para acceder a esta página.</p>
{% endif %} #}