{% extends 'base.html.twig' %}

{# Inyectar bloques necesarios #}
{% block myjs %}
    {# SCRIPT #}
    <script>
        $( function() {
            $( "#tabs" ).tabs({
                collapsible: true
            });
        } );
    </script>

    {% include 'plugins/date-range.html.twig' %}
    <script src="{{ asset('js/actividad/formulario.js') }}"></script>
{% endblock %}

{% block mycss %}
    {# CSS #}
    <style>
        /* funcionamiento básico del sistema de pestañas */
        .tab-content {
            display: none;
        }

        .tab:target .tab-content, .tab:last-of-type .tab-content {
            display: block;
        }

        .tab:target ~ .tab:last-of-type .tab-content {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Introducción</a></li>
            <li><a href="#tabs-2">Recursos</a></li>
            <li><a href="#tabs-3">Ponentes</a></li>
            <li><a href="#tabs-4">Grupos</a></li>
        </ul>

        <div id="tabs-1">
            {% include 'actividad/tab1_introduccion.html.twig' %}
        </div>
        <div id="tabs-2">
            {% include 'actividad/tab2_recursos.html.twig' %}
        </div>
        <div id="tabs-3">
            <p><strong>Click this tab again to close the content pane.</strong></p>
            <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
        </div>
        <div id="tabs-4">
            <p><strong>Click this tab again to close the content pane.</strong></p>
            <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
        </div>
    </div>

    <input class="daterange">

{% endblock %}